#grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    outline: black solid 10px;
}

.pixel {
    height: 100px;
    width: 100px;
    background-color: white;
}

[data-hover="true"] {
    background-color: lightblue;
}
