#grid {
    height: 640px;
    width: 640px;
    display: flex;
    flex-wrap: wrap;
    outline: black solid 2px;
}

[data-outlined = "true"] {
    outline: black dotted 1px;
}


[data-hovered = "true"] {
    background-color: lightblue !important;
}




body {
    display: flex;
    justify-content: space-around;
}

#tools {
    display: flex;
    flex-direction: column;
}

#gridElements {
    display: flex;
    flex-direction: column;
}

#brushColor {
    display: flex;
    flex-direction: column;
}